---
import { Modal, SectionTitle } from '@components/react';
---

<section class="flex flex-col gap-4 mt-8 md:mt-12">
  <SectionTitle client:visible subtitle="introduction" title="Overview." />
  <p class="my-2 md:my-8 md:mr-40 lg:mr-52">
    I am an Electronic Engineer with knowledge of Software development and
    passionate by learning new technologies and be always up to date. I have
    worked as a full stack developer and I am an enthusiastic person in my work,
    interested in providing clean solutions and high quality, punctuality and
    respect to the others stands out among my strengths. I am also passionate
    about: movies, spend time with my family, listen to music and learn and
    improve constantly my English language. I firmly believe that we can learn
    something new every day.
  </p>
</section>
