---
import { SectionTitle } from '@components/react';
---

<section class="flex flex-col gap-4 mt-8 md:mt-12 md:mr-32 lg:mr-52">
  <SectionTitle client:visible subtitle="introduction" title="Overview." />
  <p class="mt-2 md:mt-8">
    Electronic Engineer with knowledge in Software development and passionate by
    learning new technologies and be always up to date. I have been working as a
    Fullstack developer over 7 years and I really enjoy developing everything
    with javascript, interested in providing clean solutions and high quality, I
    strongly believe that quality is always better than speed.
  </p>
  <p class="mb-2 md:mb-8">
    Passionate about: movies, spend time with my family, working out and improve
    constantly my English language. It is always good to learn something new
    every day.
  </p>
</section>
