<footer class="sticky bottom-0 z-20 py-2 backdrop-blur-lg shadow-md">
  <div class="custom-container flex items-center justify-center gap-2">
    <i class="footer-copyright gg-copyright"></i>
    <span class="font-semibold text-lg italic">JairCanonDev</span>
    <span class="block">-</span>
    <a
      href="https://www.linkedin.com/in/jair-ca%C3%B1on-b84726132/"
      target="_blank"
    >
      <img
        src="/images/logo-linkedin.png"
        alt="linkedin"
        height="20"
        width="20"
      />
    </a>
  </div>
</footer>
